* {
    box-sizing: border-box;
}


#menu {
    border: thin solid black;
    background-color: white;
    position: sticky;

}

.item {
    float: left;
    border: thin solid black;
    background-color: black;
    color: white;
    font-size: 1.5em;
}
  
#menu:after {
    content: "";
    display: table;
    clear: both;
}
  
.subitem {
    border: thin solid black;
    color: black;
    font-size: 1em;
}
  
.submenu { 
    display: none;
}
  
.item:hover .submenu {
    display: block;
    position: absolute;
    width: auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr, 1fr);
    gap: 1px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: relative;
    border: 0em solid black;
    width: 1560px;
    height: 800px;
    margin: auto;
}

.box {
    display: grid;
    border: 0em solid black;
    text-align: justify;
    border-radius: 1rem;
    width: 250px;
    height: 250px;
    margin: auto;
}

.box1 {
    display: grid;
    border: 0em solid black;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: justify;
    border-top-left-radius: 2%;
    border-radius: 1rem;
    margin: auto;
}

.contenedor2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
    gap: 10px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: relative;
    border: 0em solid black;
    padding: 0.5em;
    width: 1545px;
    height: 200px;
    margin: auto;
}

.box2 {
    display: grid;
    border: 0em solid black;
    text-align: justify;
    border-radius: 1rem;
    width: 100px;
    height: 100px;
    margin: auto;
}

.contenedor3 {
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: relative;
    border: 0em solid black;
    padding: 0.5em;
    width: 1650px;
    height: 150px;
    margin: auto;
    justify-content: center;
}

.items3 {
    display: grid;
    border: 0em solid black;
    border-radius: 1rem;
    width: 270px;
    height: 100px;
    margin: auto;
    justify-content: center;
    align-content: center;
    font-size: 1.3em;
}

.fotoslogo {
    display: grid;
    border: 0em solid black;
    border-radius: 1rem;
    width: 60px;
    height: 60px;
    margin: auto;
    justify-content: center;
    align-content: center;
    font-size: 1.3em;    
}

.fondo  {
    display: grid;
    height: 60px;
    margin: auto;
    justify-content: center;
    align-content: center;
    font-size: 1.3em;
    padding: 0.5em;    
}

.fondo-text {
    display: grid;
    height: 40px;
    margin: auto;
    justify-content: center;
    align-content: center;
    font-size: 0.6em;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor4 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: relative;
    border: 0em solid black;
    padding: 0.5em;
    width: 1550px;
    height: 200px;
    margin: auto;
    justify-content: center;
}

.fotoslogo2 {
    display: grid;
    border: 0em solid black;
    width: 150px;
    height: 150px;
    margin: auto;
    justify-content: center;
    align-content: center;
    font-size: 1.3em;    
}

.container-fondo {
    display: grid;
    border: 0em solid black;
    height: 270px;
    width: 1550px;
    margin: auto;
    justify-content: left;
    align-content: center;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
}

.container-compromiso {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: relative;
    border: 0em solid black;
    padding: 1em;
    width: 1650px;
    height: 450px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    justify-items: center;
    font-size: 0.9em;
}

.imagenes-compromiso {
    display: grid;
    width: 300px;
    height: 300px;
    justify-content: center;
    justify-items: center;
    border-radius: 1rem;
    border: 0em solid black;
}

.titulo-h2-compromiso {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    border: 0em solid black;
    width: 1600px;
    height: 50px;
    justify-items: left;
    padding-left: 0.3em;
    font-family: Arial, Helvetica, sans-serif;
}

.container-descubrir {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: relative;
    border: 0em solid black;
    padding: 1em;
    width: 1650px;
    height: 500px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    justify-items: center;
    font-size: 0.9em;
}

.imagenes-descubrir {
    display: grid;
    width: 370px;
    height: 200px;
    justify-content: center;
    justify-items: center;
    border-radius: 1rem;
    border: 0em solid black;
}

.titulo-h2-descubrir {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    border: 0em solid black;
    width: 1600px;
    height: 50px;
    justify-items: left;
    padding-left: 0.4em;
    font-family: Arial, Helvetica, sans-serif;
}